# Exercise Sheet #8

## Exercise 1

For this exercise, you are require to write SPARQL queries and to check their answer on the following SPARQL endpoint: https://dbpedia.org/sparql.

The following prefixes will be useful:
- PREFIX dbo: <http://dbpedia.org/ontology/>
- PREFIX dbr: <http://dbpedia.org/resource/>
- PREFIX dbp: <http://dbpedia.org/property/>

### Question 1.1

- Look up http://dbpedia.org/page/Alan_Bean. Write a query to retrieve the abstract.

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?abstract ?person
WHERE {
  ?person dbo:birthName "Alan LaVern Bean"@EN ;
                dbo:abstract ?abstract .
}

### Question 1.2
- Modify the query to retrieve the abstract in a single language of your choice (e.g., only the french abstract).

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?abstract ?person
WHERE {
  ?person dbo:birthName "Alan LaVern Bean"@EN ;
                dbo:abstract ?abstract 
  FILTER (lang(?abstract) = "fr")
}

### Question 1.3
- Look at how the astronaut profession is specified (in http://dbpedia.org/page/Alan_Bean) and write a query to retrieve all astronauts.

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?astronaut
WHERE {
  ?astronaut dbo:occupation dbr:Astronaut .
}


or

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT ?person
WHERE {
  ?person dbp:type dbr:Astronaut ;
          rdfs:label ?name .
}

### Question 1.4
- Write a query that counts the nb of astronauts.

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT count(?person)
WHERE {
  ?person dbp:type dbr:Astronaut .
}

### Question 1.5
- Retrieve all astronauts and their nationality: Try with and without the OPTIONAL clause; for each query, get the number of astronauts.

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT count(*)
WHERE {
?person dbp:type dbr:Astronaut.
OPTIONAL {?person dbo:nationality?citizen . }
}

#OR

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT*
WHERE {
?person dbp:type dbr:Astronaut.
OPTIONAL {?person dbo:nationality?citizen . }
}

### Question 1.6
- Retrieve all astronauts ordered in reverse alphabetical order .

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?astronaut ?nationality
WHERE {
  ?astronaut dbo:occupation dbr:Astronaut .
  ?astronaut dbo:nationality ?nationality .
}
ORDER BY DESC(?nationality)

#OR 

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT ?name
WHERE {
  ?person dbp:type dbr:Astronaut ;
  rdfs:label ?name .
FILTER(lang(?name) = "en")
}
ORDER BY DESC(?name)

### Question 1.7
- Retrieve all astronauts grouped by nationality.

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT ?name ?citizen
WHERE {
?person dbp:type dbr:Astronaut ;
    rdfs:label ?name .
OPTIONAL {?person dbo:nationality ?citizen . }
FILTER (lang(?name) ="en")
}
ORDER BY ?citizen

## Exercise 2
Using [SPARQLWrapper](https://rdflib.github.io/sparqlwrapper/), write a python program which applies the 7 queries above and display the results.

In [ ]:
from SPARQLWrapper import SPARQLWrapper , JSON
from SPARQLWrapper import SPARQLWrapper2
sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setQuery("""
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbr: <http://dbpedia.org/resource/>
PREFIX dbp: <http://dbpedia.org/property/>

SELECT ?abstract ?person
WHERE {
  ?person dbo:birthName "Alan LaVern Bean"@EN ;
                dbo:abstract ?abstract .
}

""")